<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Contact</title>
    <link rel="stylesheet" href="./css/main.css">
    
</head>
<body>
    <h1>Ecommerce Website</h1>
    <div class="nav">
		<a href="/">Register</a>
		<a href="/login">Login</a>
		<a href="/contactus">Contact Us</a>
	</div>
   <div class="container">
    <div>
        <p>Contact Us</p>
    </div>
    <div class="form-group">
        <form id="form" method="post">
            <input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
            <input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
            <textarea name="query" id="query" cols="30" rows="10"></textarea>
        </form>
    </div>
    <div class="btn">
        <button>Submit</button>
    </div>
   </div>
</body>
</html>